<% layout('layout/boilerplate') -%>

<head>
    <style>
        body {
            color: white;
        }
        #form {
            border: 2px solid black;
            width: fit-content;
            width: 600px;
            margin-top: 40px;
            padding: 20px;
            background-color: #edede9;
        }
        input {
            width: 100%;
        }
        #hero {
            width: fit-content;
            margin: auto;
        }
        label {
            margin-top: 10px;
            color: black;
        }
        button {
            background-color: blue;
            color: white;
        }
        .hoverEnable {
            position: relative;
            left: 0;
            top: 0;
            transition: transform 0.3s ease; 
        }

        .hoverEnable:hover {
            transform: translate(450px, 0); 
        }
    </style>
</head> 
<body>
    <div id="hero">
        <h1 style="width: fit-content;margin: 20px auto;color: black;">ADD THE PRODUCT</h1>
        <form id="form" action="/products/new" method="post">
            <fieldset>
                <label for="name">Name</label><br>
                <input type="text" id="name" name="name"><br><br>
                <label for="price">Price</label><br>
                <input type="text" id="price" name="price"><br><br>
                <label for="image">Image URL</label><br>
                <input type="text" id="image" name="img"><br><br>
                <label for="desc">Description of the product</label><br>
                <input type="text" id="desc" name="desc"><br><br>
                <button id="button" class="btn btn-primary" onmouseover="checkDetails()">SUBMIT</button>
            </fieldset>
        </form>
    </div>

    <script>
        function isInputEmpty(inputElement) {
            return inputElement.value.trim() === "";
        }

        function checkDetails(){
            const name=document.querySelector("#name");
            const price=document.querySelector("#price");
            const image=document.querySelector("#image");
            const desc=document.querySelector("#desc");
            if(((isInputEmpty(name) || isInputEmpty(price) || isInputEmpty(image) || isInputEmpty(desc)))){
                button.classList.add("hoverEnable");
                
            }else{
                button.classList.remove("hoverEnable");

            }
        }
    </script>
</body>
</html>
